body{
    margin: 0%;
}

#btn{
    margin-top: 250px;
    margin-left: 600px;
}

#popUp{
    border: 2px solid black;
    background-color: brown;
    width: 500px;
    height: 120px;
    margin-top: 200px;
    margin-left: 400px;
    text-align: center;
}


#innerBox{
    border: 1px solid black;
    background-color: yellow;
    width: 200px;
    height: 40px;
   text-align: center;
   margin-top: 30px;
   margin-left: 150px;
}